header {
    background-color: #CC2936;
    height: 200px;
    color: #DFF8EB;
}

footer {
    background-color: #FADF63;
    height: 200px;
    color: #000000;
}

#intelligent {
    background-color: #CDF7F6;
    color: #000000;
}

#brein{
    background-color: #8FB8DE;
    color: #000000;
}

#logisch {
    background-color: #9A94BC;
    color: #DFF8EB;
}

#schaken{
    background-color: #9B5094;
    color: #DFF8EB;
}

#betrouwbaar{
    background-color: #666A86;
    color: #DFF8EB;
}

#dvd{
    background-color: #95B8D1;
    color: #000000;
}

#vriendelijk{
    background-color: #E8DDB5;
    color: #000000;
}

#aardig{
    background-color: #EDAFB8;
    color: #000000;
}

#sympathiek{
    background-color: #F7EF99;
    color: #DFF8EB;
}

#verlichting{
    background-color: #F1BB87;
    color: #000000;
}

#flexibel{
    background-color: #F78E69;
    color: #000000;
}

#silhouette{
    background-color: #5d675B;
    color: #DFF8EB;
}

#geduldig{
    background-color: #ACECA1;
    color: #000000;
}

#lucht{
    background-color: #96BE8C;
    color: #000000;
}

#deskundig{
    background-color: #629460;
    color: #DFF8EB;
}

#io{
    background-color: #243119;
    color: #DFF8EB;
}